// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'drupal-bootstrap';

.view-homepage {
   .views-row {
     text-align: center;
     position: relative;
     overflow: hidden;
     height: 500px;
  }
  .views-field-field-background-image {
    position: absolute;
    width: 100%;
    height: 160%;
  }
  .views-field-body {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
  }
}
